<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Корабли</title>
</head>
<body>
<h1>Корабли</h1>
<h2>Добавление модели корабля</h2>
<div class="main-content">
    <hr/>
    <form action="#" th:action="@{/ship/save/crew}" method="post">
        <input type="hidden" name="ship_id" th:text="${shipId}" th:value="${shipId}">
        <label for="normal_crew">Полноценный экипаж</label>
        <input type="text" name="normal_crew" id="normal_crew"><br/>
        <label for="minimum_crew">Минимальный экипаж</label>
        <input type="text" name="minimum_crew" id="minimum_crew"><br/>
        <input type="submit" value="Перейти к скорости"/>
    </form>
    <hr/>
    <a th:href="@{/}"><button class="on_page_action">На главную страницу</button></a>
</div>

</body>