<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Корабли</title>
</head>
<body>
<h1>Корабли</h1>
<h2>Добавление модели корабля</h2>
<div class="main-content">
    <hr/>
    <form action="#" th:action="@{/ship/save/defence}" method="post">
        <input type="hidden" name="ship_id" th:text="${shipId}" th:value="${shipId}">
        <label for="shield">Щиты (SR)</label>
        <input type="text" name="shield" id="shield"><br/>
        <label for="hull_dr">Броня (DR)</label>
        <input type="text" name="hull_dr" id="hull_dr"><br/>
        <label for="hull_hr">Броня (HR)</label>
        <input type="text" name="hull_hr" id="hull_hr"><br/>
        <label for="damage_threshold">Порог повреждений</label>
        <input type="text" name="damage_threshold" id="damage_threshold"><br/>
        <input type="submit" value="Перейти к скорости"/>
    </form>
    <hr/>
    <a th:href="@{/}"><button class="on_page_action">На главную страницу</button></a>
</div>

</body>