<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">maininfo</title>
</head>
<body>
<h1> Основные параметры корабля <br> Иперского флота</h1>
<form action="#" th:action="@{/ship/save/main}" method="post">
    <table border="1">
        <tr align="left"><th>Name</th><td><input type="text" name="name"> </td></tr>
        <tr align="left"><th>Localized_name</th><td><input type="text" name="localized_name"> </td></tr>
        <tr align="left"><th>Manufacturer</th><td><input type="text" name="manufacturer"> </td></tr>
        <tr align="left"><th>Autonomy</th><td><input type="text" name="autonomy"> </td></tr>
        <tr align="left"><th>Cargo_capacity</th><td><input type="text" name="cargo_capacity"> </td></tr>
        <tr align="left"><th>Description</th><td><input type="text" name="description"> </td></tr>
        <tr align="left"><th>Link</th><td><input type="text" name="link"> </td></tr>
        <tr align="left"><th>Cost</th><td><input type="text" name="cost"> </td></tr>
    </table>
    <input type="submit" value="Далее"/> <input type="reset" value="Haчaть заново"/>
</form>
<footer>
    <p><a href=mailto:eglinkon@gmail.com>Флот Империи Айур</a></p><br/>
    <a th:href="@{/}"><button class="on_page_action">На главную страницу</button></a>
</footer>
</body>