<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Корабли</title>
</head>
<body>
    <aside>
        <a th:href="${ship.link}">Ссылка на источник</a>
    </aside>

    <hgroup>
        <h1><span th:text="${ship.localizedName}"></span></h1>
        <h3><span th:text="${ship.name}"></span></h3><br/>
    </hgroup>

    <nav class="toc">
        <h2>Оглавление</h2>
        <ul>
            <li><a href="#1" style="font-size: 100%; font-family: Verdana; color: #1E90FF">Общие характеристики</a></li>
            <li><a href="#2" style="font-size: 100%; font-family: Verdana; color: #1E90FF">Варианты вооружения</a></li>
            <li><a href="#3" style="font-size: 100%; font-family: Verdana; color: #1E90FF">Десант</a></li>
            <li><a href="#4" style="font-size: 100%; font-family: Verdana; color: #1E90FF">Летная палуба</a></li>
        </ul>
    </nav>
    <article>
        <h2>Характеристики</h2>
        <section id="1">Общие характеристики:
            <p>
                <table border="1">
                    <tr align="left"><th colspan="2">Название</th><tD><span th:text="${ship.localizedName}"></span></tD></tr>
                    <tr align="left"><th colspan="2">Производитель</th><td><span th:text="${ship.manufacturer}"></span></td></tr>

                    <div th:if="${ship.size != null}">
                        <tr><th rowspan="3">Размеры</th><th>Длина</th><td><span th:text="${ship.size.length}"></span></td></tr>
                        <tr th:if="${ship.size.width != null}" align="left"><th>Ширина</th><td><span th:text="${ship.size.width}"></span></td></tr>
                        <tr th:if="${ship.size.height != null}" align="left"><th>Высота</th><td><span th:text="${ship.size.height}"></span></td></tr>
                    </div>

                    <div th:if="${ship.crew != null}">
                        <tr><th rowspan="2">Экипаж</th><th>Полноценный экипаж</th><td><span th:text="${ship.crew.normalCrew}"></span></td></tr>
                        <tr th:if="${ship.crew.minimumCrew != null}" align="left"><th>Минимальный экипаж</th><td><span th:text="${ship.crew.minimumCrew}"></span></td></tr>
                    </div>

                    <tr align="left"><th colspan="2">Автономность</th><td><span th:text="${ship.autonomy}"></span></td></tr>

                    <div th:if="${ship.speed != null}">
                        <tr><th rowspan="4" align="left">Скорость</th><th>Крейсерская скорость</th><td><span th:text="${ship.speed.cruisingSpeed}"></span></td></tr>
                        <tr th:if="${ship.speed.maximumSpeed != null}" align="left"><th>Максимальная скорость</th><td><span th:text="${ship.speed.maximumSpeed}"></span></td></tr>
                        <tr th:if="${ship.speed.hyperDrive != null}" align="left"><th>Гиппер двигатель</th><td><span th:text="${ship.speed.hyperDrive}"></span></td></tr>
                        <tr th:if="${ship.speed.hyperDriveBackUp != null}" align="left"><th>Резервный гиппер двигатель</th><td><span th:text="${ship.speed.hyperDriveBackUp}"></span></td></tr>
                    </div>

                    <div th:if="${ship.sensor != null}">
                        <tr><th rowspan="4" align="left">Сенсоры</th><th>Пассивный режим</th><td><span th:text="${ship.sensor.passiveMode}"></span></td></tr>
                        <tr th:if="${ship.sensor.scanning != null}" align="left"><th>Сканирование</th><td><span th:text="${ship.sensor.scanning}"></span></td></tr>
                        <tr th:if="${ship.sensor.searching != null}" align="left"><th>Поиск</th><td><span th:text="${ship.sensor.searching}"></span></td></tr>
                        <tr th:if="${ship.sensor.focus != null}" align="left"><th>Фокус</th><td><span th:text="${ship.sensor.focus}"></span></td></tr>
                    </div>

                    <div th:if="${ship.defence != null}">
                        <tr><th rowspan="4" align="left">Защита</th><th>Щиты (SR)</th><td><span th:text="${ship.defence.shield}"></span></td></tr>
                        <tr th:if="${ship.defence.hullDr != null}" align="left"><th>Броня (DR)</th><td><span th:text="${ship.defence.hullDr}"></span></td></tr>
                        <tr th:if="${ship.defence.hullHr != null}" align="left"><th>Броня (HR)</th><td><span th:text="${ship.defence.hullHr}"></span></td></tr>
                        <tr align="left"><th>Порог повреждений</th><td><span th:text="${ship.defence.damageThreshold}"></span></td></tr>
                    </div>

                    <tr align="left"><th colspan="2">Грузовместимость</th><td><span th:text="${ship.cargoCapacity}"></span></td></tr>
                    <tr align="left"><th colspan="2">Стоимость</th><td><span th:text="${ship.cost}"></span></td></tr>
                </table><br>
            </p>
        </section>
        <section id="2">Вооружение:
        </section>
        <section id="3">Десант:
        </section>
        <section id="4">Летная палуба:
        </section>
        <section> Описание:
            <span>Заказан Дромунд Касу</span>
        </section>
    </article>
    <a href="/fleet/"><button class="on_page_action">На главную страницу</button></a>
    <footer>
        <p><a href=mailto:eglinkon@gmail.com>Флот Империи Айур</a></p>
    </footer>
</body>
</html>